:root {
    --base: #ffc0cb;
    --spacing: 15px;
    --blur: 0px;
}

img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.updated {
    color: var(--base);
}

body {
    text-align: center;
}